.animationsContainer {
  max-width: 90vw;
  margin: 0 auto;
  padding: 3rem 1rem;
  text-align: center;
  background-color: transparent;
}

/* --- Header --- */
.mainTitle {
  font-size: var(--font-size-md);
  color: var(--color-text);
  font-weight: var(--fw-semibold);
  margin-bottom: 10px;
}

.subtitle {
  color: var(--color-secondary);
  font-size: var(--font-size-base);
  margin-top: 0;
  margin-bottom: 4rem;
  font-style: italic;
  width: 80vw;
  margin-left: auto;      
  margin-right: auto;
}

/* --- Grid --- */
.videoGrid {
  display: flex;
  justify-content: center;
  gap: 4rem; /* Espacio entre los dos bloques */
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.videoCard {
  width: 100%;
  max-width: 400px; /* Ancho máximo de cada bloque */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --- Video --- */
.videoWrapper {
  width: 100%;
  background-color: #2d2d2d; /* Gris oscuro en vez de negro puro */
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  aspect-ratio: 16 / 9;
  margin-bottom: 1.5rem;
}

video {
  width: 90%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* --- Info --- */
.infoContent {
  text-align: center;
}

.optionTitle {
  font-size: var(--font-size-base);
  color: var(--color-text);
  margin: 0 0 10px 0;
  font-weight: var(--fw-semibold);
  font-family: 'Montserrat', sans-serif;
}

.price {
  color: var(--color-primary);
  font-weight: var(--fw-semibold);
  font-size: var(--font-size-md);
}

.optionDesc {
  color: var(--color-secondary);
  font-weight: var(--fw-light);
  font-size: var(--font-size-sm);
  line-height: 1.5;
  margin: 0;
  max-width: 320px;
  border-top: 1px solid var(--color-accent)
}

/* --- Footer --- */
.footerSection {
  padding: 2rem;
  border-top: 1px solid var(--color-accent);
  border-bottom: 1px solid var(--color-accent);
}

.contactText {
  font-weight: var(--fw-semibold);
  font-size: var(--font-size-md);
  color: var(--color-text);
  
}

.cta {
  background: hsl(30, 100%, 99%);      /* o el color brand que estés usando */
  color: var(--color-text);
  padding: 12px 24px;
  border: solid 1px var(--color-text);
  border-radius: 8px;
  cursor: pointer;
  font-size: var(--font-size-md);
  font-weight: var(--fw-semibold);
  transition: background 0.2s ease, transform 0.15s ease;
  display: inline-block;
}

.cta:hover {
  background: var(--color-primary);      
  transform: translateY(-2px);
}

.cta:active {
  transform: translateY(0);
}

.cta a {
  color: inherit;
  text-decoration: none;
  display: block;            /* hace clic en toda la superficie */
}