:root {
  --color-background: #ffffff; /* Blanco puro para un lienzo limpio */
  --color-text: #0d5293;       /* Azul oscuro, gran legibilidad */
  --color-primary: #ddb74e;     /* Dorado, para un toque cálido y elegante */
  --color-secondary: #176dad;   /* Azul intermedio para enlaces */
  --color-accent: #dbd8d5;      /* Gris claro para bordes y fondos sutiles */

  /* El resto de la paleta para usos específicos */
  --color-highlight: #ddb74e;   /* Dorado */
  --color-danger: #a12924;       /* Rojo oscuro */
  --color-danger-soft: #e87f84; /* Rosa/Rojo claro */
  --color-blue-light: #51a3db;
  --color-blue-lighter: #c2e5fb;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-text); /* Títulos con el azul oscuro principal */
  font-weight: 500;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-text);
}

.cta-button {
  display: inline-block;
  padding: 12px 28px;
  background-color: var(--color-primary);
  color: var(--color-text);
  text-decoration: none;
  font-weight: 700;
  border-radius: 50px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  border: 2px solid var(--color-primary);
  align-self: center;
}

.cta-button:hover {
  background-color: #d0a637; /* Dorado más oscuro */
  border-color: #d0a637;
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.hero{
height: 83vh;
width: 100%;
position: relative;
overflow: hidden; 
}

.hero-img-container{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 0; /* Nivel de profundidad bajo */
}

.hero-img-container img {
  width: 100%;
height: 100%;
object-fit: cover;
}

.hero-content {
position: absolute;
top: 0;
left: 95px;
width: 35%;
height: 100%;
z-index: 1; /* Por encima de la imagen */
display: flex;
flex-direction: column; /* Para que el título, texto y botón vayan uno debajo del otro */
justify-content: center;

}

.hero-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  line-height: 1.1;
}

.hero-subtitle{
  font-size: clamp(1.5rem, 1.5vw, 1.2rem); /* Reducido para mejor ajuste */
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 1.5;
}


