---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.jsx';
import ProductDescription from '../components/product-description/ProductDescription.jsx';
import PricingPackages from '../components/pricing-packages/PricingPackages.jsx';
import PricingAnimations from '../components/pricing-animations/PricingAnimations.jsx';
import HowItWorks from '../components/how-it-works/HowItWorks.jsx';
import Faqs from '../components/faqs/Faqs.jsx';
import Footer from '../components/Footer.jsx';
import HeroCta from '../components/HeroCta.jsx';
import ContactForm from "../components/forms/ContactForm.jsx";
import OrderForm from "../components/forms/OrderForm.jsx";
---

<Layout title="Fotolavoretti - Landing Page">
  <Header client:load />
  <section class="hero">  
  <div class="img-container">
        <img src="mariposa_hero.png" />
  </div>  
  <div class="title-container">
          <h1 class="hero-title">Trasformo i lavoretti dei tuoi bambini in ricordi digitali che restano</h1>
<h2 class="hero-subtitle">PDF, galleria HD, video e animazioni: tutto raccolto in un ricordo ordinato, pronto da conservare e condividere.</h2>
  </div>
    <HeroCta client:load />
  </section>     
  <main>
    <section id="product-description" >
      <ProductDescription client:load/>
    </section>    
    <section id="pricing-packages">
      <PricingPackages client:load />
    </section>    
    <section id="pricing-animations">
      <PricingAnimations client:load />
    </section>    
    <section id="how-it-works">
      <HowItWorks client:load />
    </section>    
    <section id="faqs">
      <Faqs client:load />
    </section>
  </main>  
  <section class="footer"> 
  
  <img src="ig_qr.png">  

  </section>
  <br>
  <br>
  ---

</Layout> 
  

