.footer {
  padding: 4rem 1rem;
  background-color: transparent;
  text-align: center;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
.contactInfo {
  margin-bottom: 1.5rem;
}
.contactInfo a {
  margin: 0 1rem;
  font-weight: bold;
  color: var(--color-text);
}
.contactInfo span {
  color: var(--color-primary);
}
.credits p {
  font-size: 0.9rem;
  color: var(--color-secondary);
}
