---
---
<header>
  <nav>
    <img src="/logo.png" alt="Fotolavoretti Logo" class="logo" />
  </nav>
</header>

<style>
  header {
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  .logo {
    height: 50px;
  }
</style>
