.header {
  padding: 1rem 0;
  background-color: white; 
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  /* backdrop-filter: blur(10px); */ /* Efecto de desenfoque para el fondo */
  /* border-bottom: 1px solid var(--color-accent); */ /* Línea sutil en la parte inferior */
}

.container {
  /* max-width: 1100px; */ /* Removed to allow full width */
  height: 55px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; /* Espacio entre logo y nav */
  align-items: center;
  padding: 0 1rem; /* Added horizontal padding for spacing from edges */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 2rem ;
  border-bottom: 1px solid var(--color-blue-lighter);
}

.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logoLink p {
  padding-left:1rem;
  font-weight: var(--fw-medium);

}

.logo {
  height: 4rem; /* Ajustar tamaño del logo para que no sea tan grande */
  transition: height 0.3s ease;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navList li a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: var(--fw-medium);
  font-size: var(--font-size-sm);
  transition: color 0.3s ease;
}

.navList li a:hover {
  color: var(--color-primary);
}



.hamburger {
  display: none; /* Oculto por defecto en desktop */
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  z-index: 1100; /* Asegura que esté por encima del navList cuando está abierto */
}

.hamburgerLine {
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  background-color: var(--color-text);
  margin: 0.5rem 0;
  transition: all 0.3s ease;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .logo {
    height: 6rem; /* Logo más pequeño en móvil */
  }

  .navList {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-background); /* Fondo del menú móvil */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%); /* Oculto por defecto */
    transition: transform 0.3s ease-in-out;
    z-index: 1050;
  }

  .navList.open {
    transform: translateX(0); /* Visible cuando está abierto */
  }

  .navList li {
    margin: 1rem 0;
  }

  .navList li a {
    font-size: var(--font-size-lg); /* Enlaces más grandes en móvil */
  }

  .hamburger {
    display: block; /* Visible en móvil */
  }

  /* Animación del icono de hamburguesa */
  .hamburger.open .hamburgerLine:nth-child(1) {
    transform: translateY(0.8rem) rotate(45deg);
  }
  .hamburger.open .hamburgerLine:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open .hamburgerLine:nth-child(3) {
    transform: translateY(-0.8rem) rotate(-45deg);
  }
}
