.header {
  padding: 1.5rem 1rem;
  background-color: transparent;
  width: 100%;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center; /* Centered logo */
  align-items: center;
}
.logo {
  height: 100px;
}
