.descriptionText {
  text-align: center;
  max-width: 85vw;
  margin: auto;
  font-size: 1.5rem;
  line-height: 1.6;
  border-bottom: solid 1.5px var(--color-primary);
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.galleryContainer {
  display: grid;
  /* Adjust columns for different screen sizes for a "re linda" grid */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 2 columns on small screens */
  gap: 0.2rem; /* Smaller gap for a tighter look */
  width: 100%; /* Full width */
  margin: 0 auto;
}

.galleryItem {
  width: 100%;
  padding-top: 100%; /* Square aspect ratio */
  position: relative;
  overflow: hidden;
}

.galleryImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.galleryItem:hover .galleryImage {
  transform: scale(1.1);
}

/* Media queries for more columns on larger screens */
@media (min-width: 768px) {
  .galleryContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .galleryContainer {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem; /* A bit more gap on larger screens */
  }
}